html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}



/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    list-style: none;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: green;
    font-size: 33px;
    animation: pulse 1s ease-in-out;
-webkit-animation: pulse 1s ease-in-out;
}

.deck .card.unmatched {
    cursor: default;
    background: red;
    font-size: 33px;
    animation: wobble 500ms;
 -webkit-animation: wobble 500ms;
}

.deck .card.disabled {
  pointer-events: none;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 660px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;

}

.score-panel .timer {
margin: 0 5px;
width: 41%;
color: red;
}

/*
 * Styles for congratulations modal
 */
 .winner-text,
 .winner-title {
   text-align: center;
 }

 .popup {
   position: fixed;
 	top: 0;
 	bottom: 0;
 	left: center;
 	background: rgba(0, 0, 0, 0.7);
 	transition: opacity 500ms;
 	visibility: hidden;
 	opacity: 0;
  width: 60%;
 }

 .popup:target {
   visibility: visible;
 	opacity: 1;
 }

 .game-finish {
   margin: 70px auto;
 	padding: 20px;
 	background: #ffffff;
 	border-radius: 5px;
 	width: 85%;
 	position: relative;
 	transition: all 5s ease-in-out;
 }

 .game-finish h2 {
   font-size: 2rem;
   margin-bottom: 0;
 }

 .game-finish .close {
   position: absolute;
 	top: 20px;
 	right: 30px;
 	transition: all 200ms;
 	font-size: 30px;
 	font-weight: bold;
 	text-decoration: none;
 	color: #333;
 }

 .game-finish .content-1,
 .content-2 {
   max-height: 30%;
 	overflow: auto;
 	text-align: center;
 }

 .show {
   visibility: visible;
   opacity: 100;
 }


 #play-again {
 	background-color: #141214;
 	padding: 0.7rem 1rem;
 	font-size: 1.1rem;
 	display: block;
 	margin: 0 auto;
 	width: 30%;
 	color: red;
 	border-radius: 10px;
   text-align: center;
 }

 #starRating li {
 	display: inline-block;
 }

/*Animation
*/
 @-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  33% {
    -webkit-transform: translate3d(-30%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-30%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  66% {
    -webkit-transform: translate3d(30%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(30%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  33% {
    -webkit-transform: translate3d(-30%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-30%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  66% {
    -webkit-transform: translate3d(30%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(30%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }pul
}
